@page "/"

@using System.Timers

<FilterStocks LoadingItems="ChangeVisibility" />

@if (_showInfo)
{
    <MudGrid Justify="Justify.Center">
        <MudItem xs="8">
            <MudText Align="Align.Center" Inline="true" Typo="Typo.h5" Class="p-3">
                <p>
                    O <b>Divi Check</b> é a sua plataforma para acompanhar o mercado de ações, analisar dividendos e
                    criar e simular carteiras personalizadas.
                </p>
            </MudText>
        </MudItem>
    </MudGrid>
    <MudGrid Class="mb-5" Spacing="10">
        <MudItem xs="12">
            <MudText Class="titleFuturoFinanceiro" Align="Align.Center" Style="font-weight: bold;">
                Simule seu Futuro
                Financeiro
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                Nessa etapa você pode pesquisar pelos papeis que possui ou que
                deseja simular seus investimetos.
            </MudText>
            <MudText Typo="Typo.body1" Align="Align.Center">
                Digite o ticket da empresa ou o nome da mesma no campo acima.
            </MudText>
        </MudItem>
        <MudItem xs="12">
            <MudTimeline>
                <MudTimelineItem>
                    <ItemContent>
                        <MudText Color="Color.Default" Typo="Typo.h6" GutterBottom="true">Pesquise</MudText>
                        <MudText Align="Align.Start">Pesquise o ticket ou nome da empresa.</MudText>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem>
                    <ItemContent>
                        <MudText Color="Color.Default" Typo="Typo.h6" Align="Align.End">Adicione</MudText>
                        <MudText Align="Align.End">Adicione a quantidade de ações.</MudText>
                    </ItemContent>
                </MudTimelineItem>
                <MudTimelineItem Size="MudBlazor.Size.Medium">
                    <ItemDot>
                        <MudIcon Icon="@Icons.Material.Filled.Check" />
                    </ItemDot>
                    <ItemContent>
                        <MudText Color="Color.Default" Typo="Typo.h6" GutterBottom="true">Carteira</MudText>
                        <MudText Align="Align.Start">
                            Acesse a sua carteira e visualize as informações sobre suas ações.
                        </MudText>
                    </ItemContent>
                </MudTimelineItem>
            </MudTimeline>
        </MudItem>
    </MudGrid>
    <div class="d-flex justify-center pb-2">
        <MudImage Src="assets/tutorialdivicheck.gif" Class="imgTutorial" />
    </div>
    <div class="d-flex justify-center pb-10">
        <MudButton Color="Color.Error" Class="btnCrieContaGratuitamente" Href="/carteira" Variant="Variant.Filled">
            <MudText Class="lblCrieContaGratuitamente" Style="font-weight: bold;">Crie sua carteira gratuitamente</MudText>
        </MudButton>
    </div>
    <div class="d-flex justify-center pb-10">
        <MudLink Href="/calculadorarendafixa">
            <MudText Typo="Typo.body1">Utilize também nossa calculadora de juros compostos</MudText>
        </MudLink>
    </div>
}

@code {
    private bool _showInfo = true;

    private void ChangeVisibility(bool value) => _showInfo = value;
}