@using CTRLInvesting.Client.Pages
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectUnthorized/>
                </NotAuthorized>
            </AuthorizeRouteView>            
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Desculpe, não há esse endereço.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>